a i {
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}


.sideul li:hover {
    text-decoration: none;
    position: relative;
    right: 100px;
}

.sideLinkText {
    padding-left: 30px;
}

.sideLinkText:hover {
    color: #fff;
}

.sideul li:nth-child(1) {
    background: #3B5998;
}

.sideul li:nth-child(2) {
    background: #55ACEE;
}

.sideul li:nth-child(3) {
    background: #707070;
}

.sideul li:nth-child(4) {
    background: #eede00;
}

.sideul li:nth-child(5) {
    background: #bb0000;
}


.nav-link:hover{
    border-bottom: 1px solid rgb(233, 217, 220);
    transition: 0.1s;
}
.navbar{
    padding: 5px;
}
#but {
    border: 1px solid #799A99;
    color: #799A99;
}#but:hover{
    color: black;
    background-color: #646F77;
    transition: 0.6s;
}
@media (max-width: 600px){
    a i {
    font-size: 15px;
    padding: 5px;
    }
    .sideLinkText {
    padding-left: 10px;
    }
    .sidelink {
    right: -254px;
    }
    .sideul li:hover {
        right: 70px;
    }
    
}





#nave {
    height: auto;
    padding: 0;
}
